  

#divPrincipal {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

#divCabecera{
    position: fixed;
    text-align: center;
    background-color:antiquewhite;
    width: 95%;
    margin: 1%;
    z-index: 1000; 
    box-shadow: 0 0 0 23px rgb(0, 255, 191); 
}
#divProductos {
    margin-top: 150px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
  }

.divCarta {
    
    width: 22%; 
    margin: 1%; 
    border: 3px solid #90972c; 
    border-radius: 6px;
    box-sizing: border-box; 
    overflow: hidden; 
}


.divFoto {
    width: 100%; /* 95% del ancho del contenedor */
    position: relative; /* Importante para el posicionamiento absoluto de la imagen */
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño del contenido */
    /*width: 200px; /* Tamaño deseado para el ancho */
   /* height: 200px; /* Tamaño deseado para la altura */

}

.fotoProducto {
    width: 100%; /* 95% del ancho del contenedor */
    /*height: auto; /* Esto asegura que el alto se ajuste proporcionalmente al ancho */
    max-width: 100%; /* Para asegurarse de que la imagen no sea más ancha que su contenedor */
    display: block; /* Para eliminar cualquier espacio adicional que pueda aparecer */
   /* width: 200px; /* Tamaño deseado para el ancho */
    height: 200px; /* Tamaño deseado para la altura */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
   /* display: block; /* Para eliminar cualquier espacio adicional que pueda aparecer */
}
table, th, td {
    border: 2px solid black; 
    border-collapse: collapse; 
  }
  
  th, td {
    padding: 8px; 
  }
  


@media (max-width: 600px) {
    .divCarta {
        width: 45%; 
    }
}
@media(max-width:250px){
    .divCarta{
        width: 90%;
    }
}
.hidden-description {
    
    visibility: hidden;
  }
h6:hover + .hidden-description {
    
    visibility: visible;
}
h6 {
    margin: 0;
}
h5{
    margin: 0;
}

  .superpuesta {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    
  }
    